<div class="info_box clearfix">
    <!--<img src="images/temp/basic_info.gif" class="info_img">-->
    <ul class="info_list">
        <li ng-repeat="obj in data">
            <h5>{{obj.key}}</h5>
            <p>{{obj.value}}</p>
        </li>
    </ul>
</div>