<div class="comment_container">

    <div class="comment_summary">
        <button class="btn btn-warning btn-small pull-right" type="button" data-toggle="modal" data-target="#pupup_box"
                data-backdrop="static"><i class="icon-edit"></i> 写评论
        </button>
        总评：<span class="rating_star star{{config.avgScore}}"></span>
    </div>


    <div class="comment_list with_userphoto">

        <div class="comment" ng-repeat="comment in config.data">
            <div class="user_photo"></div>
            <div class="comment_time">今天 {{comment.time}}</div>
            <h5 class="comment_who">{{comment.userName}}</h5>

            <div class="comment_content">
                {{comment.review}}
            </div>
            <div class="comment_rate">用户评分：<span class="rating_star star{{comment.star}}"></span></div>
        </div>



    </div>

    <div pager controller="CommentsPagerController" page-size="10" page-number="{{config.pageNumber}}" total="{{config.total}}" click="config.click"></div>

</div>
