<div><span class="title_text"></span>
<span ng-switch on="type">
   <span ng-switch-when="我的关注"><span class="search_result_text">搜索到<strong class="badge badge-warning"  ng-bind="total"></strong>条指标</span></span>
   <span ng-switch-when="我的搜索"><span class="search_result_text">搜索到<strong class="badge badge-warning" ng-bind="total"></strong>条含有"<strong
           ng-bind="keyword"></strong>"的指标</span></span>
</span>
</div>
