<!--content_module （本块是 数据展现）-->
                        <div class="content_module">
                            <h3 class="module_title">
                                <span class="title_label"><i class="icon-bar-chart"></i>数据展现</span>
                                <ul class="module_filter">
                                    <li  ng-repeat="filterObj in filter" ><div ng-repeat="filterValue in filterObj.value  track by $index " class="{{filterObj.cssClass[$index]}}"  > {{filterValue}}<i class="icon_remove" ng-click="delfilter(filterObj,$index)"></i></div></li>
                                </ul>

                            </h3>
                            <!--content_module_box-->
                            <div class="content_module_box">
                                <table class="table table-striped table-hover">
                                  <thead>
                                      <th width="15%" ng-repeat="headObj in tableHead" class="{{headObj.cssClass}}">{{headObj.name}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr  ng-repeat="trData in tableGrid">

                                      <td   ng-repeat="tdObj in trData" class="{{tdObj.cssClass}}"  rowspan="{{tdObj.rowspan}}"   >
                                           <span class="dropdown" ng-if="0 == tdObj.isDim">
                                              <a href="javascript:void(0)" role="button" class="link_arrow dropdown-toggle" ng-click="getTurnInfo(tdObj)" data-toggle="dropdown">{{tdObj.value}}</a>
                                              <ul class="drill-menu dropdown-menu" role="menu" aria-labelledby="drop1">

                                                  <li class="{{tdObj.upTurnClass}}">
                                                      <a href="javascript:void(0)"  ng-if="0 == tdObj.upTurn"  ><i class="icon-arrow-up"></i>上钻</a>
                                                      <a href="javascript:void(0)"  ng-if="1 == tdObj.upTurn" ng-click="goTurn(tdObj,1)" ><i class="icon-arrow-up"></i>上钻</a>
                                                  </li>
                                                  <li class="{{tdObj.downTurnClass}}">
                                                      <a href="javascript:void(0)"  ng-if="0 == tdObj.downTurn" ><i class="icon-arrow-down"></i>下钻</a>
                                                      <a href="javascript:void(0)"  ng-if="1 == tdObj.downTurn" ng-click="goTurn(tdObj,2)" ><i class="icon-arrow-down"></i>下钻</a>
                                                  </li>
                                              </ul>
                                          </span>
                                          <span  ng-if="1 == tdObj.isDim" class="{{tdObj.spanClass}}">
                                              {{tdObj.value}}
                                          </span>
                                      </td>

                                    </tr>
                                  </tbody>
                                </table>
							</div>
                            <!--End "content_module_box"-->
                            <div pager page-number="{{pageNumber}}" total="{{total}}" page-size="{{pageSize}}" click="pageClick"></div>
                        </div>
                        <!--End "content_module" （本块是 数据展现）-->