<div class="select_filter_container">
    <!--<div class="filter_container_min">
        <div class="filter_list">
                                        <span class="dropdown">
                                          <span class="filters selected dropdown-toggle" data-toggle="dropdown"><span
                                                  class="filter_text">不限网络</span><i class="icon-caret-down"></i></span>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                                <li><a tabindex="-1" href="#">不限网络</a></li>
                                                <li><a tabindex="-1" href="#">移动GSM</a></li>
                                                <li><a tabindex="-1" href="#">移动TD-SCDMA</a></li>
                                                <li><a tabindex="-1" href="#">联通WCDMA</a></li>
                                                <li><a tabindex="-1" href="#">电信CDMA2000</a></li>
                                            </ul>
                                        </span>
            <span class="filters selected">不可展开选择</span>
            <span class="filters selected">不限网络</span>
            <span class="filters selected">不限用户</span>
            <span class="filters selected">全部系统</span>
        </div>
    </div>-->


    <div class="filter_container">
        <div class="filter_box" ng-repeat="filter in tags">
            <h5 class="filter_title">{{ filter.name }}</h5>
            <div class="filter_list">
                <!--<span class="filters">不限</span>-->
                <span class="filters {{child.selected}}"  ng-click="child.click()" ng-repeat="child in filter.sonList">{{ child.name }}</span>
            </div>
        </div>
    </div>


    <!--<div class="select_filter_trigger"><i class="icon-chevron-up"></i><i class="icon-chevron-down"></i></div>-->
</div>