<div class="content_module_box">
    <table class="table table-striped table-hover" id="indicator_table">
        <thead>
        <tr>
            <th width="4%"><input type="checkbox" name="checkbox" class="select_all"></th>
            <th width="25%" class="th_sortable"><i class="icon-arrow-up"></i>指标编码</th>
            <th width="20%" class="th_sortable">指标名称</th>
            <th width="12%" class="th_sortable">指标分类</th>
            <th width="12%">维度</th>
            <th width="12%">考察频度</th>
            <th width="17%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in data">
            <td><input type="checkbox" name="checkbox2" ng-click="select(row)"></td>
            <td ng-bind="row.kpiNo">GPRS_Busi_M_01_04S02</td>
            <td ng-bind="row.kpiName">GPRS品牌套餐收费客户</td>
            <td>网络类</td>
            <td>TIME</td>
            <td ng-bind="row.inspectFrequency">月</td>
            <td>
                <button ng-click="row.edit(obj)" class="btn btn-small btn-warning" type="button" data-toggle="modal"
                        data-target="#indicator_edit" data-backdrop="static"><i class="icon-edit-sign"></i>编辑
                </button>
                <button ng-click="row.tag(obj)" class="btn btn-small" type="button" data-toggle="modal" data-target="#indicator_tag"
                        data-backdrop="static"><i class="icon-tags"></i>打标签
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>