<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{title}}</h3>
    </div>
    <!--modal-body-->
    <div class="modal-body">

        <form class="form-horizontal">

            <div class="control-group">
                <label class="control-label" for="inputCode">指标编码</label>

                <div class="controls">
                    <input type="text" id="inputCode" ng-model="data.indicatorCode">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputName">指标名称</label>

                <div class="controls">
                    <input type="text" id="inputName" ng-model="data.indicatorName">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">主维度</label>

                <div class="controls">
                    <select>
                        <option ng-repeat="(key,val) in options" value="{{val}}">{{key}}</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputDem">维度</label>

                <div class="controls">
                    <label class="checkbox inline" ng-repeat="(key,val) in options">
                        <input type="checkbox" name="options" id="{{val}}" value="{{key}}" checked>
                        Time
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputUnit">计量单位</label>

                <div class="controls">
                    <input type="text" ng-model="data.unit" id="inputUnit" placeholder="户、次、KB、个等">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputFrequency">考察频度</label>

                <div class="controls">
                    <input type="text" ng-model="data.frequency" id="inputFrequency" placeholder="日、月、周、小时">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputTbl">对应模型表名</label>

                <div class="controls">
                    <input type="text" id="inputTbl" ng-model="data.modelName">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEnglish">对应指标字段英文名</label>

                <div class="controls">
                    <input type="text" id="inputEnglish" ng-model="data.columnName">
                </div>
            </div>

        </form>

    </div>
    <!--End "modal-body"-->
    <div class="modal-footer">
        <div class="form-inline">
            <!--<label class="checkbox"><input type="checkbox" checked>复制本条继续新增　</label>-->
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button save="save()" class="btn btn_important btn-success">保存指标</button>
        </div>
    </div>
</div>
