<div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">打标签 - GPRS品牌套餐收费客户</h3>
        </div>
        <div class="modal-body">

            <div class="filter_container filter_edit_container">

                <div class="filter_control_box clearfix">
                    <div class="pull-right" id="goto_manage_tag"><button class="btn btn-small btn-info" type="button" id="manage_tag_btn" ng-click="manager('open')"><i class="icon-gear"></i>管理标签</button></div>
                    <div class="pull-right" id="now_managing_tag" style="display:none;"><button class="btn btn-small btn-success" type="button" ng-click="addNewFatherTag()"><i class="icon-plus"></i>新增标签分类</button><button class="btn btn-small" type="button" id="exit_manage_tag_btn" ng-click="manager('close',true)">完成管理</button></div>
                </div>
                <div class="filter_box" ng-repeat="tagsObj in tags">
                    <h5 class="filter_title">
                         <span  ng-if="0 == tagsObj.isEdit">
                               {{tagsObj.name}}
                               <i class="icon-angle-down"></i>
                               <div class="filter_funcs">
                               <i class="icon-edit" ng-click="editTag(sonTagObj)" title="重命名"></i>
                               <i class="icon-trash" ng-click="delTag($index,0,tagsObj,'old',1)" title="删除类别"></i>
                               </div>
                         </span>
                         <span  ng-if="1 == tagsObj.isEdit">
                             <input type="text" class="input-small" ng-model="tagsObj.name"> <button class="btn btn-small btn-warning" type="button" ng-click="saveTagEdit(tagsObj)">确定</button>
                         </span>
                    </h5>
                    <div class="filter_list clearfix">
                        <div ng-repeat="sonTagObj in tagsObj.sonTags" class="{{sonTagObj.selectCss}}" ng-click="mark(tagsObj.index,sonTagObj)" >
                            <span  ng-if="0 == sonTagObj.isEdit">
                                {{sonTagObj.name}}
                                <div class="filter_funcs">
                                <i class="icon-edit"  ng-click="editTag(sonTagObj)" title="重命名"></i>
                                <i class="icon-trash" ng-click="delTag(tagsObj.index,$index,sonTagObj,'old',2)" title="删除"></i>
                                </div>
                           </span>
                          <span  ng-if="1 == sonTagObj.isEdit">
                             <input type="text" class="input-small" ng-model="sonTagObj.name"> <button class="btn btn-small btn-warning" ng-click="saveTagEdit(sonTagObj)" type="button">确定</button>
                          </span>
                        </div>
                        <div ng-repeat="addTagObj in tagsObj.addTags" class="{{addTagObj.selectCss}}"  >
                            <span  ng-if="0 == addTagObj.isEdit">
                                {{addTagObj.name}}
                                <div class="filter_funcs">
                                    <i class="icon-edit"  ng-click="editTag(addTagObj)" title="重命名"></i>
                                    <i class="icon-trash" ng-click="delTag(tagsObj.index,$index,addTagObj,'old',3)" title="删除"></i>
                                </div>
                           </span>
                           <span  ng-if="1 == addTagObj.isEdit">
                             <input type="text" class="input-small" ng-model="addTagObj.name"> <button class="btn btn-small btn-warning" ng-click="saveTagEdit(addTagObj)" type="button">确定</button>
                           </span>
                        </div>
                        <div class="filters add_filter" ng-click="addSonTag(tagsObj.index,1)"><i class="icon-plus"></i></div>
                    </div>
                 </div>


                <div class="filter_box" ng-repeat="tagsObj in newTags" >
                    <h5 class="filter_title">
                        <span  ng-if="0 == tagsObj.isEdit">
                               {{tagsObj.name}}
                               <i class="icon-angle-down"></i>
                               <div class="filter_funcs">
                                   <i class="icon-edit" ng-click="editTag(sonTagObj)" title="重命delTag($index,0,tagsObj,'new',1)名"></i>
                                   <i class="icon-trash" ng-click="delTag($index,0,tagsObj,'new',1)" title="删除类别"></i>
                               </div>
                         </span>
                         <span  ng-if="1 == tagsObj.isEdit">
                             <input type="text" class="input-small" ng-model="tagsObj.name"> <button class="btn btn-small btn-warning" type="button" ng-click="saveTagEdit(tagsObj)">确定</button>
                         </span>
                    </h5>
                    <div class="filter_list clearfix">
                        <div ng-repeat="addTagObj in tagsObj.addTags" class="{{addTagObj.selectCss}}"  >
                            <span  ng-if="0 == addTagObj.isEdit">
                                {{addTagObj.name}}
                                <div class="filter_funcs">
                                    <i class="icon-edit"  ng-click="editTag(addTagObj)" title="重命名"></i>
                                    <i class="icon-trash" ng-click="delTag(tagsObj.index,$index,addTagObj,'new',2)" title="删除"></i>
                                </div>
                           </span>
                           <span  ng-if="1 == addTagObj.isEdit">
                             <input type="text" class="input-small" ng-model="addTagObj.name"> <button class="btn btn-small btn-warning" ng-click="saveTagEdit(addTagObj)" type="button">确定</button>
                           </span>
                        </div>
                        <div class="filters add_filter" ng-click="addSonTag(tagsObj.index,2)"><i class="icon-plus"></i></div>
                    </div>
                </div>

            </div>



        </div>
        <div class="modal-footer">
            <div class="form-inline">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <button class="btn btn_important btn-success" ng-click="saveAll(1)">保存</button>
            </div>
        </div>
    </div>
