<div class="indicator_box clearfix indicator_up">
    <div class="chart_info_trigger" title="切换视图"></div>
    <div class="indicator_info">
        <div class="chart_box">
            <a href="#" class="indicator_title" ng-click="obj.click()">{{ obj.name }}</a>
            <div class="chart"><div line click="obj.chartClick" data="obj.values" style="height:85px;width:150px;margin:0 auto;"></div></div>
        </div>
        <div class="indicator_basic_info">
            <h4 class="indicator_title"><a  ng-click="obj.click()" href="javascript:void(0)">{{ obj.name }}</a></h4>

            <p class="indicator_subinfo">编码：{{ obj.code }}</p>

            <p class="indicator_subinfo">关注度：<span class="rating_star star{{ obj.star }}"></span></p>
        </div>
    </div>
    <div class="indicator_states">
        <div class="indicator_value">
            <p class="indicator_main_value">
                <span class="main_value_label">当前值</span>
                <strong ng-bind="current.value | kpis">156,156,489</strong>
                <span class="main_value_unit" ng-bind="obj.unit">元</span>
            </p>

            <p class="indicator_value_compare">
                <span class="compare_value">同比<span class="{{current.yoy | trend}}">{{current.yoy}}%</span></span>
                <span class="compare_value">环比<span class="{{current.mom | trend}}">{{current.mom}}%</span></span>
            </p>
        </div>
        <div class="indicator_fav">
            <button class="btn btn-mini" type="button" ng-click="obj.follow()"><i class="{{obj.careStatus | attentionIcon}}"></i>{{obj.careStatus | attention}}</button>
        </div>
    </div>
</div>