<div class="content_module_funcs">
    <div class="pull-left">
        <button ng-click="add()" class="btn btn-small btn-success" type="button" data-toggle="modal" data-target="#indicator_add"
                data-backdrop="static"><i class="icon-plus"></i>新增指标
        </button>
        <button ng-click="remove()" class="btn btn-small" type="button" id="remove_indicator_btn"><i
                class="icon-remove"></i>删除指标
        </button>
    </div>
    <div class="form-inline pull-right">
        指标编码:
        <input type="text" class="input-small" ng-model="indicatorCode">
        指标名称:
        <input type="text" class="input-small" ng-model="indicatorName">
        分类:
        <select ng-model="selected" class="input-small" ng-options="key as val for (key,val) in options">
            <!--<option ng-repeat="(key,val) in options" value="{{key}}">{{val}}</option>-->
            <!--<option>网络</option>
            <option>财务</option>
            <option>用户</option>
            <option>产品</option>
            <option>渠道</option>
            <option>资源</option>-->
        </select>
        <button ng-click="query()" class="btn btn-small" type="button">查询</button>
    </div>
</div>