<div class="inner-container container-fluid">
    
            <div id="logo" class="pull-left" ng-click='index()'></div>
            
            <form class="form-search pull-right">
                <div class="input-append">
                  <input ng-model="keyword" value="search" type="text" class="search-query" data-provide="typeahead" data-items="4" data-source="{{ tips }}">
                  <button ng-click="search()" type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
            </form>

    </div>
