<h5 class="hot_title">热门指标</h5>
                <ul class="hot_list">

                <li ng-repeat="indexHotKpiNode in indexHotKpi"> <a href="javascript:void(0)"   ng-click="detail(indexHotKpiNode)" ><span class="pull-right {{indexHotKpiNode.class}}">{{indexHotKpiNode.value | kpis}}</span>{{indexHotKpiNode.name}}</a></li>

                </ul>
