<div class="indicator_box clearfix detail_page">
    <div class="chart_info_trigger" title="切换视图"></div>
    <div class="indicator_info">
        <div class="chart_box">
            <a href="#" class="indicator_title">{{config.data.name}}</a>
            <div class="chart"><div large-chart  style="margin-bottom:60px;width:700px;height:300px" controller="LargeChartController"></div></div>
        </div>
        <div class="indicator_basic_info">
            <h4 class="indicator_title">{{config.data.name}}</h4>

            <p class="indicator_subinfo">编码：{{config.data.code}}</p>

            <p class="indicator_subinfo">关注度：<span class="rating_star star{{config.data.star}}"></span></p>
        </div>
    </div>
    <div class="indicator_states">
        <div class="indicator_value">
            <p class="indicator_main_value">
                <span class="main_value_label">当前值</span>
                <strong ng-repeat="item in config.data.values | limitTo:-1">{{item.value | kpis}}</strong>
                <span class="main_value_unit">{{config.data.unit}}</span>
            </p>

            <p class="indicator_value_compare">
                <span class="compare_value" ng-repeat="item in config.data.values | limitTo:-1">同比<span class="{{item.yoy | trend}}">{{item.yoy}}%</span></span>
                <span class="compare_value" ng-repeat="item in config.data.values | limitTo:-1">环比<span class="{{item.mom | trend}}">{{item.mom}}%</span></span>
            </p>
        </div>
        <div class="indicator_fav">
            <button ng-click="config.bookmark()" class="btn {{config.data.careStatus|largeIndicatorCareStatus}}" type="button">
                <i class="{{config.data.careStatus|attentionIcon}}"></i>{{config.data.careStatus | attention}}
            </button>
            <button ng-click="config.complain()" class="btn btn-danger" type="button"><i class="icon-warning-sign"></i>申告</button>
        </div>
    </div>
</div>