<ul class="breadcrumb">
    <li ng-repeat="link in config.links" class="{{link.active}}">
        <a ng-if="link.active!=='active'" ng-click="link.click()" href="javascript:void(0);">{{link.name}}</a> <span ng-if="link.active!=='active'" class="divider">/</span>
        <span ng-if="link.active==='active'">{{link.name}}</span>
    </li>
    <!--<li><a href="#">网络</a> <span class="divider">/</span></li>
    <li><a href="#">二级分类</a> <span class="divider">/</span></li>
    <li class="active">GPRS品牌套餐收费客户</li>-->
</ul>
<!--
<script type="text/ng-template" id="tp1">
    <a ng-click="link.click()" href="javascript:void(0);">{{link.name}}</a> <span class="divider">/</span>
</script>
<script type="text/ng-template" id="tp2">
    {{link.name}}
</script>-->
