<div id="menu_bar">
    <div class="inner-container container-fluid">

        <div id="user_greeting" class="dropdown pull-left">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">欢迎您，admin <i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a ng-click="config.category()" tabindex="-1" href="javascript:void(0);">指标分类管理</a></li>
                <li><a ng-click="config.kpi()" tabindex="-1" href="javascript:void(0);">指标管理</a></li>
                <li><a ng-click="config.admin()" tabindex="-1" href="javascript:void(0);">管理员设置</a></li>
            </ul>
        </div>

        <ul id="user_funcs" class="pull-right">
            <li class="{{config.favourite.selected}}"><a ng-click="config.favourite.click()" href="javascript:void(0);"><i class="icon-star"></i><span class="func_text">我的关注</span></a></li>
            <li><a ng-click="config.setting()" href="javascript:void(0);"><i class="icon-gear"></i><span class="func_text">设置</span></a></li>
            <li><a ng-click="config.help()" href="javascript:void(0);"><i class="icon-question-sign"></i><span class="func_text">帮助</span></a></li>
            <li><a ng-click="config.exit()" href="javascript:void(0);"><i class="icon-off"></i><span class="func_text">退出</span></a></li>
        </ul>

    </div>
</div>