<script type="text/ng-template" id="kpi_menu_template.html">
                  <div  ng-mouseover="getPostSonNode(menuNode,'dropdown{{menuNode.id}}')" >
                     <h5 class="side_menu_title"><a href="javascript:void(0)" ng-click="search(menuNode,'dropdown{{menuNode.id}}')" >{{menuNode.cateName}}</a></h5>
                     <div class="links_list side_menu_tips"   >
                         <a href="javascript:void(0)"   ng-repeat="topNode in menuNode.topCate" ng-click="search(topNode,'dropdown{{menuNode.id}}')">{{topNode.cateName}}</a>
                     </div>
                  </div>
                  <!--dropdown-menu-->
                  <div class="dropdown-menu"  id="dropdown{{menuNode.id}}"  >
                      <div class="row-fluid">
                          <!--dropdown_main-->
                    	<span class="dropdown_main span9">
                        	<div class="link_container" ng-repeat="sonNode in menuNode.sonCate">
                                <h5 class="links_title" >

                                    <a href="javascript:void(0)"  ng-click="search(sonNode,'dropdown{{menuNode.id}}')">{{sonNode.cateName}}</a>
                                </h5>
                                <div class="links_list" ng-if="0 == sonNode.topCate.length">
                                    暂无子分类
                                </div>
                                <div class="links_list" ng-if="0 != sonNode.topCate.length">
                                    <a href="javascript:void(0)"  ng-repeat="otherNode in sonNode.topCate"  ng-click="search(otherNode,'dropdown{{menuNode.id}}')"  >{{otherNode.cateName}}</a>
                                </div>

                            </div>
                      	</span>
                          <!--End "dropdown_main"-->
                          <!--dropdown_side-->
                        <span class="dropdown_side span3">
                        	<div class="hot_container">
                                <h5 class="hot_title">热门指标</h5>
                                <ul class="hot_list">
                                    <li ng-repeat="sonHotKpiNode in menuNode.sonHotKpi">
                                      <a href="javascript:void(0)" ng-click="detail(sonHotKpiNode)" >{{sonHotKpiNode.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                          <!--End "dropdown_side"-->

                      </div>
                  </div>



 </script>
<li   ng-repeat="menuNode in menusData    " ng-include="'kpi_menu_template.html'"  class="{{menuNode.iconClass}} {{menuNode.cssClass}} dropdown-submenu" ng-mouseleave="leave('dropdown{{menuNode.id}}')" ></li>
