<div class="pagination pagination-small pagination-right">
    <span class="pagination_info">共 {{data.total}}条信息</span>
    <ul>
        <li ng-repeat="obj in data.pages" ng-switch on="obj.clazz" class="{{obj.clazz}}">
                <span ng-switch-when="" ><a href="javascript:void(0);" ng-bind="obj.pageName" ng-click="obj.click(obj.number)"></a></span>
                <span ng-switch-when="active"><span class="active">{{obj.number}}</span></span>
        </li>
        <!--<li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li class="disabled"><span>…</span></li>
        <li><a href="#">7</a></li>
        <li class="active"><span>8</span></li>
        <li><a href="#">9</a></li>
        <li class="disabled"><span>…</span></li>
        <li><a href="#">17</a></li>
        <li><a href="#">»</a></li>-->
    </ul>
</div>