
<div class="indicator_container clearfix chart_block_view">

    <div class="indicator_box clearfix" ng-repeat="obj in config.data">
        <div class="indicator_info">
            <div class="chart_box">
                <div class="chart"><div line  data="obj.values" style="height:85px;width:150px;margin:0 auto;"></div></div>
            </div>
            <div class="indicator_basic_info">
                <h4 class="indicator_title"><a href="javascript:void(0);" ng-click="obj.click()">{{obj.name}}</a></h4>
                <p class="indicator_subinfo">编码：{{obj.code}}</p>
            </div>
        </div>
        <div class="indicator_states">
            <div class="indicator_value">
                <p class="indicator_main_value">
                    <span class="main_value_label">当前值</span>
                    <strong ng-repeat="item in obj.values | limitTo:-1">{{item.value | kpis}}</strong>
                    <span class="main_value_unit" ng-bind="obj.unit"></span>
                </p>
            </div>
            <div class="indicator_fav">
                <button ng-click="obj.follow()" class="btn btn-mini" type="button"><i class="{{obj.careStatus | attentionIcon}}"></i>{{obj.careStatus | attention}}</button>
            </div>
        </div>
    </div>

</div>
