<!--header：页面头部-->
<div id="header">
    <div class="inner-container container-fluid" keyword controller="DetailKeywordController">

        <!--加载自定义keyword组件-->

    </div>
</div>
<!--End "header"-->
<!--menu_bar：页面上蓝色的菜单栏-->
<div main-menu controller="MainMenuController"></div>
<!--End "menu_bar"-->
<!--main_container：主容器，可以只有单列，也可以包含左右两列-->
<div id="main_container" class="inner-container container-fluid nosidebar">


<!--main_content：主要内容区-->
<div id="main_content">


<!--主标题栏，用于放标题、搜索结果概要、面包屑导航-->
<h3 id="main_content_title">
    <span class="title_text">指标分类管理</span>
</h3>

<!--main_content_box：包裹除"main_content_title"外的所有主内容-->
<div id="main_content_box">

<!--manage_tree_item_container-->
<div id="manage_tree_item_container" unselectable="on" onselectstart="return false;" style="-moz-user-select:none;">
    <!--增加了禁止选取文字的代码-->
    <!--树左右滚动按钮-->
    <div class="manage_tree_scroll left carousel-control"><i class="icon-chevron-left"></i></div>
    <div class="manage_tree_scroll right carousel-control"><i class="icon-chevron-right"></i></div>
    <ul class="manage_tree_ul" id="manage_tree_ul">
        <!--root for tree item-->
        <li class="tree_item add_tree_root_item">
            <div class="tree_item_box">
                <div class="items" ng-click="add(null)" data-target="#pupup_box_add" data-toggle="modal"
                     title="添加父节点"></div>
            </div>
        </li>
        <!--tree item entity-->
        <script type="text/ng-template" id="tree_item_template.html">
            <div class="tree_item_box">
                <div class="items">
                    <div class="item_wrapper at15">
                        <div class="item_info"><h5 class="info_title" ng-bind="treeNode.cateName">网络</h5>

                            <p class="info_tips" ng-bind="treeNode.cateNO">12345</p></div>
                        <div class="item_funcs">
                            <div class="func_btn edit" ng-click="edit(treeNode)" data-target="#pupup_box"
                                 data-toggle="modal" title="编辑节点">编辑
                            </div>
                            <div class="func_btn delete" ng-click="del(treeNode)" title="删除节点">删除</div>
                            <div class="func_btn add" ng-click="add(treeNode)" data-target="#pupup_box_add"
                                 data-toggle="modal" title="添加子节点">添加子节点
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="manage_tree_ul">
                <li class="tree_item" ng-repeat="treeNode in treeNode.children" ng-include="'tree_item_template.html'"
                    data="{{ treeNode.cateId }}"></li>
            </ul>
            <!--<div init></div>-->
        </script>
        <li class="tree_item" ng-repeat="treeNode in tree" ng-include="'tree_item_template.html'"
            data="{{ treeNode.cateId }}"></li>

        <!--ng-repeat="treeNode in tree"-->

    </ul>
</div>
<!--End "manage_tree_item_container"-->
<form novalidate class="form-fluid" name="formName">
<div id="pupup_box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <input ng-model="formItem.actionType" type="hidden"/>
        <input ng-model="formItem.parentID" type="hidden"/>
        <input ng-model="formItem.cateId" type="hidden"/>
        <button ng-model="formItem.actiontype" type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3>编辑『数据业务产品』</h3>
    </div>
    <div class="modal-body">
        <div class="content_module">
            <h3 class="module_title">
                <span class="title_label">基本信息</span>
            </h3>

            <div class="content_module_box">
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label span4">分类名称</label>

                        <div class="controls span8">
                            <input ng-model="formItem.cateName" type="text">
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label span4">分类编号</label>

                        <div class="controls span8">
                            <input ng-model="formItem.cateNO" type="text">
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="content_module">
            <h3 class="module_title">
                <span class="title_label">指标配置</span>

                <div class="module_query">
                    <button class="btn btn-small btn-warning" type="button">选择未映射原品牌</button>
                </div>
            </h3>
            <div class="content_module_box">
                <!--item_sort_container-->
                <div class="item_sort_container">
                    <ul class="nav nav-tabs">
                        <li><a href="" data-target="#my_indicator" data-toggle="tab">本分类的 <span
                                class="count"></span></a></li>
                        <li><a href="" data-target="#unsorted_indicator" data-toggle="tab">未被分类的 <span
                                class="count"></span></a>
                        </li>
                        <li><a href="" data-target="#sorted_indicator" data-toggle="tab">已归到他类的 <span
                                class="count"></span></a>
                        </li>
                    </ul>
                    <!--tab-content 选项卡内容-->
                    <div class="tab-content">
                        <!--sort_query 查找指标-->
                        <div class="sort_query input-append">
                            <input ng-model="params.keyword" type="text" class="input-small" placeholder="查找指标">
                            <button ng-click="query()" type="button" class="btn btn-small" id="item_sort_search"><i
                                    class="icon-search"></i></button>
                            <button type="button" class="btn btn-small btn-warning" id="item_sort_search_cancel"
                                    style="display:none;">取消搜索
                            </button>
                        </div>
                        <!--End "sort_query" 查找指标-->
                        <div class="tab-pane" id="my_indicator">
                            <!--item_sort_box-->
                            <div class="item_sort_box sorted clearfix"><!--item_sort_box-->
                                <ul class="item_sort_list">
                                    <li ng-click="toggleKpi(item)" class="items" ng-repeat="item in kpis.selected"><span
                                            class="item_label" ng-bind="item.name">GPRS标准套餐用户</span><i
                                            class="icon-remove"></i></li>

                                </ul>
                            </div>
                            <!--End "item_sort_box"-->
                        </div>
                        <div class="tab-pane" id="unsorted_indicator">
                            <!--item_sort_box-->
                            <div class="item_sort_box unsorted clearfix">

                                <ul class="index_query index_letter">
                                    <!--<li class="active"><a href="#index_all" data-toggle="tab">全部 <span class="count">(362)</span></a></li>-->
                                    <!--索引-->
                                    <li ng-repeat="(key,val) in kpis.unselected"><a href="" data-target="#u-{{key}}"
                                                                                    data-toggle="tab"
                                                                                    ng-bind="key"><span
                                            class="count"></span></a></li>
                                </ul>
                                <!--tab-content-->
                                <div class="tab-content">
                                    <!--tab-pane 一个索引包含的未选指标-->
                                    <div class="tab-pane" id="u-{{key}}" ng-repeat="(key,val) in kpis.unselected">
                                        <ul class="item_sort_list">
                                            <li ng-click="toggleKpi(entity)"
                                                class="items {{entity.selected | kpiSelection}}"
                                                ng-repeat="entity in val.unselected"><i
                                                    class="{{entity.selected | iconSelected}}"></i><span
                                                    class="item_label"
                                                    ng-bind="entity.name">GPRS标准套餐用户</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--End "tab-content"-->


                            </div>
                            <!--End "item_sort_box"-->
                        </div>
                        <div class="tab-pane" id="sorted_indicator">
                            <!--item_sort_box-->
                            <div class="item_sort_box unsorted clearfix">

                                <ul class="index_query index_letter">
                                    <!--<li class="active"><a href="#index_all" data-toggle="tab">全部 <span class="count">(362)</span></a></li>-->
                                    <!--索引-->
                                    <li ng-repeat="(key,val) in kpis.unselected"><a href="" data-target="#s-{{key}}"
                                                                                    data-toggle="tab"
                                                                                    ng-bind="key"><span
                                            class="count"></span></a></li>
                                </ul>
                                <!--tab-content-->
                                <div class="tab-content">
                                    <!--tab-pane 一个索引包含的未选指标-->
                                    <div class="tab-pane" id="s-{{key}}" ng-repeat="(key,val) in kpis.unselected">
                                        <ul class="item_sort_list">
                                            <li ng-click="toggleKpi(entity)"
                                                class="items sorted_other {{entity.selected | kpiSelection}}"
                                                ng-repeat="entity in val.other" data-toggle="tooltip"
                                                data-placement="top"
                                                title="已归为{{entity.otherCateName}}，选择后改到本类别"><i
                                                    class="{{entity.selected | iconSelected}}"></i><span
                                                    class="item_label"
                                                    ng-bind="entity.name">已被归类到其他类别的置底</span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <!--End "tab-content"-->


                            </div>
                            <!--End "item_sort_box"-->
                        </div>
                    </div>
                    <!--End "tab-pane"-->

                </div>
                <!--End "tab-pane"-->


            </div>
            <!--End "item_sort_container"-->

        </div>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button class="btn btn_important btn-success" ng-click="save(formItem)">确定</button>
</div>
</div>
<div id="pupup_box_add" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <input ng-model="formItem.actionType" type="hidden"/>
        <input ng-model="formItem.parentID" type="hidden"/>
        <input ng-model="formItem.cateId" type="hidden"/>
        <button ng-model="formItem.actiontype" type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3>添加『数据业务产品』</h3>
    </div>
    <div class="modal-body">
        <div class="content_module">
            <h3 class="module_title">
                <span class="title_label">基本信息</span>
            </h3>

            <div class="content_module_box">
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label span4">分类名称</label>

                        <div class="controls span8">
                            <input ng-model="formItem.cateName" type="text">
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="control-group span6">
                        <label class="control-label span4">分类编号</label>

                        <div class="controls span8">
                            <input ng-model="formItem.cateNO" type="text">
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="btn btn_important btn-success" ng-click="save(formItem)">确定</button>
    </div>
</div>
</form>
</div>
<!--End "main_content_box"-->

</div>
<!--End "main_content"-->


</div><!--End "main_container"-->
