<!--header：页面头部-->
<div id="header">
	<div class="inner-container container-fluid" keyword controller="DetailKeywordController">

        <!--加载自定义keyword组件-->

    </div>
</div>
<!--End "header"-->


<!--menu_bar：页面上蓝色的菜单栏-->
<div main-menu controller="MainMenuController"></div>
<!--End "menu_bar"-->


<!--main_container：主容器，可以只有单列，也可以包含左右两列-->
<div id="main_container" class="inner-container container-fluid nosidebar">


        <!--main_content：主要内容区-->
        <div id="main_content">

			<!--主标题栏，用于放标题、搜索结果概要、面包屑导航-->
            <h3 id="main_content_title">
				<div location controller="LocationController"></div>
            </h3>

            <!--main_content_box：包裹除"main_content_title"外的所有主内容-->
            <div id="main_content_box">


				<!--content_module：内容模块，用于每块内容独立起来（本块是 指标信息）-->
				<div class="content_module">

                    <div large-indicator controller="LargeIndicatorController"></div>

                </div>
                <!--End content_module （本块是 指标信息）-->


<!--<script>

$(document).ready(function() {

	//对bootstrap的affix效果不足作补充（affix就是移动滚动条到一定程度后，容器跟随滚动的效果），不需要跟随滚动效果的话可以去掉
	$("#nav-tabs-affix").wrap("<div id='nav-tabs-affix-wrap'></div>");//对affix的容器外层，添加一个用来撑空间的容器，避免affix出现效果的时候页面内容的跳动移位
	function affix_improve() {
		var navtab_w = $("#nav-tabs-affix-wrap").width(),//获取未激发affix效果时的宽度，为激发affix效果后赋与宽度（避免缩起来）
			navtab_h = $("#nav-tabs-affix").outerHeight(true),//给第一步新建的外层wrap赋与高度
			navtab_t = $("#nav-tabs-affix-wrap").offset().top;//获取affix容器的初始坐标，用于设置"data-offset-top"属性的值（用于设置滚到哪里才触发affix）
		$("#nav-tabs-affix-wrap").height(navtab_h);
		$("#nav-tabs-affix").css("width",navtab_w);
		$("#nav-tabs-affix").attr("data-offset-top",navtab_t);
	}
	affix_improve();
	$(window).resize(function(){
		affix_improve();//窗口大小改变的时候再计算和赋值一次
	});


});

</script>-->
                <div datagrid controller="DataGridController"></div>
				<!--tab选项卡-->
                <ul id="nav-tabs-affix" class="nav nav-tabs" data-spy="affix">
                  <li class="active"><a data-target="#indicator_info" href="javascript:void(0);" data-toggle="tab"><i class="icon-info-sign"></i>指标信息</a></li>
                  <li><a data-target="#comments" href="javascript:void(0);" data-toggle="tab"><i class="icon-comments-alt"></i>评论</a></li>
                </ul>


                <!--tab-content 选项卡内容-->
				<div class="tab-content">

					<!--tab-pane 选项卡内容1-->
					<div class="tab-pane active" id="indicator_info">


                        <!--content_module （本块是 基础信息）-->
                        <div class="content_module">
                            <h3 class="module_title">
                                <span class="title_label"><i class="icon-list-ul"></i>基础信息</span>
                            </h3>
                             <!--content_module_box-->
                            <div class="content_module_box">
                                <div basic-info controller="BasicInfoController"></div>
                            </div>
                            <!--End "content_module_box"-->
                        </div>
                        <!--End "content_module" （本块是 基础信息）-->





    				</div>
    				<!--End "tab-pane"-->


                    <!--content_module （本块是 评论）-->
                    <div class="tab-pane content_module" id="comments">
                        <!--content_module_box-->
                        <div class="content_module_box">

                            <div comments controller="CommentsController"></div>

                        </div>
                        <!--End "content_module_box"-->
                    </div>
                    <!--End "content_module" （本块是 评论）-->


				</div>
                <!--End "tab-content"-->



				<!--content_module （本块是 相关推荐）-->
				<div class="content_module" id="recommend">
                    <h3 class="module_title">
                    	<span class="title_label"><i class="icon-star-empty"></i>相关推荐</span>
                    </h3>
                    <!--content_module_box-->
					<div class="content_module_box">

                        <div recommends controller="RecommendsController"></div>

                    </div>
                    <!--End "content_module_box"-->
                </div>
                <!--End content_module （本块是 相关推荐）-->


          </div>
          <!--End "main_content_box"-->

        </div>
        <!--End "main_content"-->


</div>
<!--End "main_container"-->





<!--<script>

$(document).ready(function() {

	//给评价的显示脚本
	$(".give_rate_star .icon-star").mouseover(function() {
		$(this).addClass("active").siblings(".icon-star").removeClass("active").siblings(".rate_score").find(".score").text( $(this).index()+1 );
	});

});

</script>-->

<!--pupup_box-->
<div id="pupup_box" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">写评论</h3>
  </div>
  <!--modal-body-->
  <div class="modal-body" ng-controller="AddCommentController">

        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">评分</label>
            <div class="controls">
<span class="rate_star give_rate_star">
  <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i><!--分数是多少星，就在第多少个元素添加active -->
  <span class="rate_score">我给<span class="score">3</span>分</span>
  <input type="text" style="display:none" ng-model="config.score" class="score_value"/>
</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">内容</label>
            <div class="controls">
              <textarea rows="5" class="span4" ng-model="config.content"></textarea>
            </div>
          </div>
        </form>

  </div>
  <!--End "modal-body"-->
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    <button ng-click="config.post()" class="btn btn_important btn-success" data-dismiss="modal">发表评论</button>
  </div>
</div>
<!--End "pupup_box"-->




