<div id="header">
    <div class="inner-container container-fluid" keyword controller="KeywordController">


    </div>
</div>


<div main-menu controller="MainMenuController"></div>


<div id="main_container" class="inner-container container-fluid">


    <div class="row-fluid row-fluid-noGutter">


        <div class="span3 clearfix" id="sidebar">


            <ul class="side_menu" menu controller="MenuListController">

            </ul>
            <div class="hot_container" kpihot controller="HotKpiController">

            </div>

        </div>


        <div class="span9" id="main_content">

            <h3 id="main_content_title">
                <div criteria controller="CriteriaController"></div>

                <div class="title_func pull-right">
                    <i class="icon-th-large"></i>
                    <i class="icon-list-ul current"></i>
                </div>
            </h3>


            <div id="main_content_box">
                <div filter controller="FilterController"></div>

                <div kpis controller="KpisController"></div>

            </div>


            <div class="pagination pagination-small pagination-right" pager controller="PagerController">

            </div>


        </div>


    </div>


</div>


</div>




