<!--header：页面头部-->
<div id="header">
    <div class="inner-container container-fluid" keyword controller="DetailKeywordController">

        <!--加载自定义keyword组件-->

    </div>
</div>
<!--End "header"-->
<!--menu_bar：页面上蓝色的菜单栏-->
<div main-menu controller="MainMenuController"></div>
<!--End "menu_bar"-->
<!--main_container：主容器，可以只有单列，也可以包含左右两列-->
<div id="main_container" class="inner-container container-fluid nosidebar">


<!--main_content：主要内容区-->
<div id="main_content">

    <!--主标题栏，用于放标题、搜索结果概要、面包屑导航-->
    <h3 id="main_content_title">
        <span class="title_text">指标管理</span>
    </h3>

    <!--main_content_box：包裹除"main_content_title"外的所有主内容-->
    <div id="main_content_box" ng-controller="IndicatorManagerCtrl">


        <script>

            $(document).ready(function() {

                $("#indicator_table :checkbox").click(function() {
                    if ($("#indicator_table :checkbox[checked]").size() > 0) {
                        $("#remove_indicator_btn").addClass("btn-danger").removeAttr("disabled");
                    } else {
                        $("#remove_indicator_btn").removeClass("btn-danger").attr("disabled", true);
                    }
                });

                $(".select_all").click(function() {
                    if ($(this).attr("checked")) {
                        $(this).parents(".table").find(":checkbox").attr("checked", true);
                    } else {
                        $(this).parents(".table").find(":checkbox").attr("checked", false);
                        $("#remove_indicator_btn").removeClass("btn-danger").attr("disabled", true);
                    }
                });

            });

        </script>


        <div class="content_module">

            <div indicator-grid-toolbar selected="cateId" options="options" add="add()" remove="remove()" search="search(params)"></div>

            <div indicator-grid data="response.data.kpis" select="select()" edit="edit()" tag="tag()"></div>

            <div pager page-number="{{response.request.pageNumber}}" page-size="{{response.request.pageSize}}" total="{{response.data.total}}" click="pageClick" ></div>

        </div>


    </div>
    <!--End "main_content_box"-->

</div>

    <div indicator-grid-edit-dialog id="indicator_edit" data="tmpKpi" save="save()" title="编辑指标"/>
    <div indicator-grid-edit-dialog id="indicator_add" data="newKpi" save="save()" title="新增指标"/>
    <div indicator-tag-edit-dialog id="indicator_tag" controller="TagController" title="打标签"/>
</div><!--End "main_container"-->
